body {
  top: 0;
  left: 0;
  min-height: 100vh;
  background: linear-gradient(to right, #6ebce2, #3a7fd5);
  /* box-shadow: inset 0 -5px 10px rgba(0,0,0,.1); */
}

.container {
  background-color: white;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  padding: 1.5em;
  box-shadow: 3px 3px 20px rgba(0,0,0,.3);
}
.mb-3 {
  margin-bottom: 1rem;
}
.mt-3 {
  margin-top: 1rem;
}
.text-right {
  text-align: right;
}

.fas {
  margin-left: 5px;
}

.fas,
h2, h1 {
  color: #3a7fd5;
}

 /* Style dla menu */
.navbar {
  padding: 0;
}
.navbar .nav-link {
  cursor: pointer;
}

#introduction-p {
  text-align: center;
}
.btn {
  color: #fff;
  border-radius: 2em;
  background: #7bcbe5;
  background: linear-gradient(to bottom, #7bcbe5, #53badc);
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1em 1em;
  margin-top: 2.5em;
}

.navbar-expand-lg {
  flex-wrap: nowrap;
}

.btn-nav a {
  color: #fff;
}

.odd {
  background-color: #F6F6F6 !important;
}

#list-employees-view {
  overflow-x: auto; /* Pasek przewijania poziomego */
  max-width: 800px; /* Maksymalna wysokość kontenera (zmień wartość według potrzeb) */
}

.navbar-brand img {
  max-width: 100px;
}

#introduction-view img {
  max-width: 100%;
}

.navbar-toggler {
  position: relative;
  right: 0;
}

@media (max-width: 990px) {
  #menu-separator {
    display: none;
  }

  .nav-item {
    padding-left: 15px;
  }

  #list-employees-view h2 {
    text-align: center;
  }
}

footer div {
  text-align: center;
}
